<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
    <thead>
        <th colspan=5>Planejamento</td>
    </thead>
    <tbody>
    <tr>
        <td colspan=5>Hardware</td>
    </tr>
    <tr>
        <td class="tg-0lax">Ação</td>
        <td class="tg-0lax">Objeto</td>
        <td class="tg-0lax">Quant</td>
        <td class="tg-0lax">Valor</td>
        <td class="tg-0lax">Indicado?</td>
    </tr>
    <tr>
        {% for acao in acoes %}
            {% if acao.objeto == 'Hardware' %}
            <td class="tg-0lax">{{ acao.nome }}</td>
            <td class="tg-0lax">{{ acao.objeto }}</td>
            <td class="tg-0lax">{{ acao.quantidade }}</td>
            <td class="tg-0lax">{{ acao.valor }}</td>
            <td class="tg-0lax">{{ acao.indicacao }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <td colspan=5></td>
    </tr>
    <tr>
        <td colspan=5>Software</td>
    </tr>
    <tr>
        <td class="tg-0lax">Ação</td>
        <td class="tg-0lax">Objeto</td>
        <td class="tg-0lax">Quant</td>
        <td class="tg-0lax">Valor</td>
        <td class="tg-0lax">Indicado?</td>
    </tr>
        {% for acao in acoes %}
            {% if acao.objeto == 'Software' %}
    <tr>
            <td class="tg-0lax">{{ acao.nome }}</td>
            <td class="tg-0lax">{{ acao.objeto }}</td>
            <td class="tg-0lax">{{ acao.quantidade }}</td>
            <td class="tg-0lax">{{ acao.valor }}</td>
            <td class="tg-0lax">{{ acao.indicacao }}</td>
    </tr>
            {% endif %}
        {% endfor %}
    <tr>
        <td colspan=5></td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    window.print();
</script>